body{
    font-family: 'Press Start 2P', cursive; 
}
.question-answer{    
    height: 300px;  
}

.green{
    background-color:chartreuse;
}

.red{
    background-color: red;
}

.center{
    text-align: center;
}


.left{
    text-align: right;
}

.margin{
    margin-top: 10px;
}

.margin2{
    margin-bottom: 10px;
}
.overflow{
    height: 300px;
    overflow: scroll;
}
.score-submit{
    display: none;
}

.placement{
    display: hidden;
}
